#save-form {
  overflow: hidden;
}
#save-form * {
  box-sizing: border-box;
}
#save-form h2,
#save-form h4 {
  color: gray;
}
#save-form .error {
  color: red;
  text-decoration: double;
}
#save-form > table {
  table-layout: fixed;
}
#save-form .fields {
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}
#save-form .fields > div {
  width: 100%;
  display: flex;
  flex-flow: row;
}
#save-form .fields > div > div {
  width: 75%;
}
#save-form .fields > div > div:nth-child(2n+1) {
  width: 25%;
  padding-top: 4px;
  padding-right: 5px;
  text-align: right;
}
#save-form .fields > div > div.icons {
  width: 100%;
}
#save-form .fields > div:last-child {
  margin-top: auto;
}
#save-form .fields input {
  padding: 3px 5px 1px;
  font-size: 10pt;
}
#save-form #imgArtist {
  display: inline-block;
  padding: 0 3px;
  outline: 0;
}
#save-form #imgArtist:focus {
  box-shadow: 0 -1px 3px 2px #181818, 0 -1px 3px 4px #808080;
}
#save-form #imgFolder {
  overflow: auto;
  margin-top: 8px;
}
#save-form #imgFolder .folder {
  font-size: 8pt;
  display: block;
  padding-left: 10px;
  border-left: 1px dotted #2d2d2d;
}
#save-form #imgFolder .folder > span,
#save-form #imgFolder .folder:before {
  margin-left: 3px;
  cursor: pointer;
  user-select: none;
}
#save-form #imgFolder .folder > span:hover,
#save-form #imgFolder .folder:before:hover {
  opacity: 0.5;
}
#save-form #imgFolder .folder:before {
  content: "";
  float: left;
  margin-left: -10px;
  background: url('chrome-extension://__MSG_@@extension_id__/css/foldericons.png') no-repeat border-box;
  width: 14px;
  height: 12px;
  background-position-x: -15px;
}
#save-form #imgFolder .folder[data-selected=true] > span {
  color: lightblue;
}
#save-form #imgFolder .folder[data-selected=true]:before {
  background-position-x: 0px;
}
#save-form .icons > a {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin-left: 5px;
  background: url('chrome-extension://__MSG_@@extension_id__/css/mediaicons.png') no-repeat;
}
#save-form .icons > a.tumblr {
  background-position: 0 0;
}
#save-form .icons > a.twitter {
  background-position: -40px 0;
}
#save-form .icons > a.pixiv {
  background-position: 0 -40px;
}
#save-form .icons > a.furaffinity {
  background-position: -40px -40px;
}
#save-form .icons > a:hover {
  opacity: 0.5;
}
#save-form .icons > a:active {
  filter: drop-shadow(0 0 5px lightgray);
}